@model Prg_Portfolio.Models.ViewModel.Vm_Index

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
         style="background-image: url(/Content/Img/24.jpg);">
        <h2>درباره ما</h2>
    </div>

    <div class="container rtl">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> صفحه اصلی</a></li>
                        <li class="breadcrumb-item active"> درباره ما</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### About Area Start ##### -->
<section class="about-us-area " dir="rtl">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2 class="text1">درباره ما</h2>
                    <p class="text1">ما در زمینه خدمات گیاهان هدایت می کنیم.</p>
                </div>
                <p class="text2">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                    گرافیک است.
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                    مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </p>

                <!-- Progress Bar Content Area -->
                <div dir="ltr" class="alazea-progress-bar mb-50">
                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar text2">
                        <p>گیاهان اداری</p>
                        <div id="bar1" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="40"></span>
                        </div>
                    </div>

                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar text2">
                        <p>مدیر قسمت</p>
                        <div id="bar2" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="70"></span>
                        </div>
                    </div>

                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar text2">
                        <p>طراحی منظره</p>
                        <div id="bar3" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="35"></span>
                        </div>
                    </div>

                    <!-- Single Progress Bar -->
                    <div class="single_progress_bar text2">
                        <p>مراقبت از باغ</p>
                        <div id="bar4" class="barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div>
                            <span class="fill" data-percentage="65"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="alazea-benefits-area">
                    <div class="row">
                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="~/Content/Img/b1.png" alt="">
                                <h5 class="text1">محصولات با کیفیت</h5>
                                <p class="text2">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان
                                    گرافیک است.
                                </p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="~/Content/Img/b2.png" alt="">
                                <h5 class="text1">سرویس کامل</h5>
                                <p class="text2">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان
                                    گرافیک است.
                                </p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="~/Content/Img/b3.png" alt="">
                                <h5 class="text1">100٪ طبیعی</h5>
                                <p class="text2">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان
                                    گرافیک است.
                                </p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="~/Content/Img/b4.png" alt="">
                                <h5 class="text1">سازگار با محیط زیست</h5>
                                <p class="text2">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان
                                    گرافیک است.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="border-line"></div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->
<!-- ##### Service Area Start ##### -->
<section class="our-services-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>خدمات ما</h2>
                    <p class="text1">ما برای شما خدمات عالی ارائه می دهیم.</p>
                </div>
            </div>
        </div>

        <div dir="ltr" class="row justify-content-between">

            <div class="col-12 col-lg-6">
                <div class="alazea-video-area bg-overlay mb-100">
                    <img src="~/Content/Img/23.jpg" alt="">
                    <a href="~/Content/Video/videoplayback.mp4" class="video-icon">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="alazea-service-area mb-100">

                    <!-- Single Service Area -->
                    <div dir="rtl" class="single-service-area d-flex align-items-center wow fadeInUp"
                         data-wow-delay="100ms">
                        <!-- Icon -->
                        <div class="service-icon ml-30">
                            <img src="~/Content/Img/s1.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content text2">
                            <h5>گیاهان مراقبت</h5>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                از طراحان گرافیک است.
                            </p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div dir="rtl" class="single-service-area d-flex align-items-center wow fadeInUp"
                         data-wow-delay="300ms">
                        <!-- Icon -->
                        <div class="service-icon ml-30">
                            <img src="~/Content/Img/s2.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content text2">
                            <h5>آبیاری</h5>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                از طراحان گرافیک است.
                            </p>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div dir="rtl" class="single-service-area d-flex align-items-center wow fadeInUp"
                         data-wow-delay="500ms">
                        <!-- Icon -->
                        <div class="service-icon ml-30">
                            <img src="~/Content/Img/s3.png" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content text2">
                            <h5>خدمات درخت &amp; پیرایش</h5>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                از طراحان گرافیک است.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Service Area End ##### -->
<!-- ##### Testimonial Area Start ##### -->
<section class="testimonial-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonials-slides owl-carousel">


                    @foreach (var item in Model.VmPicProList)
                    {
                    <!-- Single Testimonial Slide -->
                        <div class="single-testimonial-slide" dir="rtl">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-6">
                                    <div class="testimonial-thumb">
                                        <img src="/Content/Img/@item.PictureVMNew.Name" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="testimonial-content">
                                        <!-- Section Heading -->
                                        <div class="section-heading">
                                            <h2 class="text1">تکراری</h2>
                                            <p class="text1">برخی از کلمات از مشتریان در مورد Alazea</p>
                                        </div>
                                        <p class="text2">@item.UserName.Description</p>
                                        <div class="testimonial-author-info">
                                            <h6 class="text2">آقای @item.UserName.FirstName @item.UserName.LastName</h6>
                                            <p class="text2">@item.UserTypVMNew.Type</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Testimonial Area End ##### -->
<!-- ##### Cool Facts Area Start ##### -->
<section class="cool-facts-area bg-img section-padding-100-0"
         style="background-image: url(/Content/Img/cool-facts.png);">
    <div class="container">
        <div class="row">

            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                    <div class="cf-icon">
                        <img src="~/Content/Img/cf1.png" alt="">
                    </div>
                    <div class="cf-content">
                        <h2><span class="counter">20</span></h2>
                        <h6>جوایز</h6>
                    </div>
                </div>
            </div>

            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                    <div class="cf-icon">
                        <img src="~/Content/Img/cf2.png" alt="">
                    </div>
                    <div class="cf-content">
                        <h2><span class="counter">70</span></h2>
                        <h6>پروژه ها</h6>
                    </div>
                </div>
            </div>

            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                    <div class="cf-icon">
                        <img src="~/Content/Img/cf3.png" alt="">
                    </div>
                    <div class="cf-content">
                        <h2><span class="counter">30</span>+</h2>
                        <h6>مشتریان خوشحال</h6>
                    </div>
                </div>
            </div>

            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="single-cool-fact d-flex align-items-center justify-content-center mb-100">
                    <div class="cf-icon">
                        <img src="~/Content/Img/cf4.png" alt="">
                    </div>
                    <div class="cf-content">
                        <h2><span class="counter">80</span>K+</h2>
                        <h6>درآمد</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Side Image -->
    <div class="side-img wow fadeInUp" data-wow-delay="500ms">
        <img src="~/Content/Img/pot.png" alt="">
    </div>
</section>
<!-- ##### Cool Facts Area End ##### -->
<!-- ##### Team Area Start ##### -->
<section class="team-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>تیم ما</h2>
                    <p>یک تیم از متخصصان حرفه ای با تجربه.</p>
                </div>
            </div>
        </div>

        <div class="row">


            @foreach (var item in Model.PictureTeamVm)
            {
                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member text-center mb-100">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="~/Content/Img/@item.PictureVMNew.Name" alt="">
                            <!-- Social Info -->
                            <div class="team-member-social-info">
                                @foreach (var item2 in item.ListLink)
                                {
                                    switch (item2.linkType_Id)
                                    {
                                        case 1:
                                            <a href="@item2.LinkPath"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                            break;
                                        case 2:
                                            <a href="@item2.LinkPath"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                                            break;

                                        case 3:
                                            <a href="@item2.LinkPath"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                            break;
                                        case 4:
                                            <a href="@item2.LinkPath"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                                            break;
                                    }
                                }
                            </div>
                        </div>

                        <div class="team-member-info mt-30">
                            <h5>@item.UserVMNew.FirstName @item.UserVMNew.LastName</h5>
                            <p>@item.UserTypVMNew.Type</p>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</section>
  <!-- ##### Footer Area Start ##### -->
<footer class="footer-area bg-img" style="background-image: url(../Content/Img/3.jpg);">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-footer-widget">
                        <div class="widget-title text2">
                            <h5>پر فروش ترین محصولات</h5>
                        </div>

                        @foreach (var item in Model.PortofioProductVM)
                        {
                              <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex text2">
                                <div class="product-thumbnail">
                                    <a href="shop-details.html"><img src="/Content/Img/@item.PicturVMNew.Name" alt=""></a>
                                </div>
                                <div class="product-info m-3">
                                    <a href="shop-details.html">@item.ProductVMNew.NameProduct </a>
                                    <p>@item.PriceVMNew.Price</p>
                                </div>
                            </div>
                        }




                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-footer-widget">
                        <div class="widget-title text2">
                            <h5>تماس</h5>
                        </div>

                        <div class="contact-information text2">
                            <p><span>آدرس:</span> 505 Silk Rd، نیویورک</p>
                            <p><span>تلفن:</span> +1 234 122 122</p>
                            <p><span>ایمیل:</span> info.deercreative@gmail.com</p>
                            <p><span>ساعتهای باز:</span> Mon - Sun: 8 AM to 9 PM</p>
                            <p><span>ساعت استراحت:</span> Sat: 2 PM to 4 PM</p>
                        </div>
                    </div>
                    <div class="single-footer-widget text-right">
                        <div class="social-info">
                            <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
                            <a href="https://snapchat.com"><i class="fab fa-snapchat-ghost"></i></a>
                            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="https://instagram.com/timtec-co"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copywrite Text -->
    <div class="col-12 col-md-12 text-center">
        <div class="copywrite-text">
            <p>
               . تمامی حقوق این وبسایت متعلق است به شرکت فنی مهندسی ایده سازان تکنولوژی شایلین می باشد
            </p>
        </div>
    </div>
    <!-- Footer Bottom Area -->
</footer>
<!-- ##### Footer Area End ##### -->
